.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: 50%;
}

.fact {
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-logo {
  width: 75px;
}

@media (max-width: 768px) {
  .sub-container {
    width: 100%;
  }
}
